@import url("https://fonts.googleapis.com/css?family=Muli:400,700");
body {
   background: #333;
   font-family: "Muli", sans-serif;
   transition: all 0.5s ease-in;
}

#quote-box {
   background: rgb(219, 219, 219);
   position: fixed;
   top: 50%;
   left: 50%;
}

.card {
   width: 600px;
   min-height: 300px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 1px 1px 12px #555;
   justify-content: center;
   align-items: center;
}

button {
   position: absolute;
   color: white;
   bottom: -2%;
   right: 0%;
   transform: translate(-50%, -50%);
   padding: 10px 25px;
   font-size: 1.2rem;
   font-weight: 500;
   border-radius: 3px;
   transition: background 0.5s ease-in;
   border: none;
   outline: none;
}
.content {
   margin-bottom: 60px;
   display: grid;
}
#output {
   text-align: center;
   font-size: 2rem;
   transition: color 0.7s ease-in;
}
#author {
   text-align: end;
   margin: 25px;
   font-weight: 100;
   font-size: 1rem;
}

.fab {
   font-size: 3rem;
   position: absolute;
   bottom: -2%;
   left: 8%;
   transform: translate(-50%, -50%);
}
a {
   text-decoration: none;
   color: inherit;
}

button:hover {
   opacity: 0.8;
}

a:hover {
   color: inherit;
   opacity: 0.9;
}

@media (max-width: 500px) {
   .card {
      width: 95vw;
   }
   #output {
      font-size: 1.7rem;
   }
}
